<footer class="py-3 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">David Beraud - <a href="https://www.atelier-prisma.com" class="m-0 text-center text-white">Atelier Prisma</a></p>
  </div>
</footer>
